.creatorContainer{
    /* background-color: rgb(216, 212, 175); */
    /* height: 100vh; */
    pointer-events: none;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
canvas{
  position: fixed;
  user-select: all;
  pointer-events: all;
  width: 100vw !important;
  height: 100vh !important;
}

.infoen3d{
  display: grid;
  /* height: 8000px; */
  /* position: absolute; */
  grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh;
}

.contenedorHome{
  position: absolute;
}

.heightHome{
  height: 500vh;
}

.noSelect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}

.fullTitle{
  margin: 181px 0 0 0px;
  display: flex;
}

.fullInfo{
  display: grid;
  width: 36%;
  justify-items: end;
}

.w3{
  color: #7e7e7e;
  text-align: end;
}

.title{
  font-size: 110px;
  font-variant: normal;
  /* display: flex; */
}
.subTitle{
  margin-top: -30px;
  font-size: 30px;
  text-align: end;
}

.htmlData{
  z-index: 10;
  /* max-width: 99vw; */
  /* padding: 0 10vw; */
}

.txtP{
  text-align: end;
  /* margin-top: 10px; */
  font-size: 30px;
}

.btext-b{
  font-size: 40px;
}

.fullCanvas{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.btnDirect{
  border-radius: 10px;
  color: white;
  background-color: #666666;
  padding: 8px 10px;
  user-select: all;
  pointer-events: all;
}
